/* container -> quiz-container に修正 */
.quiz-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 32px;
  text-align: center;
}

/* .quiz-image -> #quiz-image に修正 */
#quiz-image {
  width: 500px;
  height: auto;
  max-width: 100%;
  visibility: hidden;
}

#quiz-question {
  font-size: 24px;
  margin-top: 30px;
}

/* .quiz-input -> #quiz-answer に修正 */
#quiz-answer {
  font-size: 24px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 400px;
}

/* .quiz-submit -> #quiz-submit-button に修正 */
#quiz-submit-button {
  font-size: 24px;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#quiz-submit-button:hover {
  background-color: #3e8e41;
}

.quiz-feedback {
  font-size: 24px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

/* 画像の右に入力欄などを表示 */
.quiz-image-container,
.quiz-question-container {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.quiz-image-container {
  flex-grow: 1;
  margin-right: 20px; /* 画像と問題コンテナの間の距離を20pxに設定 */
}

.quiz-question-container {
  flex-grow: 1;
  overflow-wrap: break-word;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.popup-buttons button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.popup-buttons button:hover {
  background-color: #3e8e41;
}
