body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
  text-align: center;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f8f8f8;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}

a {
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #333;
  background-color: #f8f8f8;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  border-bottom: none;
  background-color: #eee;
}

.flag-img {
  width: 30px; /* サイズを適宜調整してください */
  height: auto;
  margin-right: 10px; /* 画像と国名の間のスペースを適宜調整してください */
  vertical-align: middle; /* 画像を縦方向に中央揃え */
}

.country-name {
  display: inline-block;
  vertical-align: middle; /* 国名を縦方向に中央揃え */
  text-align: left; /* 国名テキストを左揃えにするために追加 */
}

.play-button {
  display: flex;
  justify-content: center;
}

.play-button button {
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  background-color: #f44336;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.play-button button:hover {
  background-color: #e53935;
}
